<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h6 style="text-align: center; font-size: 15px"><b>Rekapitulasi</b></h6>
		<h6 style="text-align: center; font-size: 15px"><b>Catatan dan Kegiatan Warga</b></h6>
		<h6 style="text-align: center; font-size: 15px"><b>Kelompok Dasawisma</b></h6>
		<div  style="margin-left:-5px;margin-right:-5px;display: flex; font-size: 10px">
		    <div style=" float: left; flex: 50%;;padding: 5px;">
		     	<table width="100%" border="0" cellpadding="3" cellspacing="0" >
		        <tr>
                  <td style="text-align: left;" width="15%">DASAWISMA</td>
                  <td width="5%"> : </td>
                  <td width="25%" style="text-align: left;">[nama_dasawisma]</td>
                </tr>
                <tr>
                  <td style="text-align: left;">RT</td>
                  <td> : </td>
                  <td style="text-align: left;" >[rt]</td>
                </tr>
                 <tr>
                  <td style="text-align: left;">RW</td>
                  <td> : </td>
                  <td style="text-align: left;">[rw]</td>
                </tr>
                <tr>
                  <td style="text-align: left;">DESA/KELURAHAN</td>
                  <td> : </td>
                  <td style="text-align: left;">[kelurahan]</td>
                </tr>
                <tr>
                  <td style="text-align: left;">TAHUN</td>
                  <td> : </td>
                  <td style="text-align: left;">[tahun]</td>
                </tr>
		      </table>
		    </div>
		   
		</div><br>
		
		<table width="100%" border="1" cellpadding="3" cellspacing="0" style="border-bottom:3px solid #000000; font-size: 10px">
          <thead>
            <tr> 
                <th rowspan="3" style="vertical-align : middle;text-align:center;">NO</th>
                <th rowspan="3" style="vertical-align : middle;text-align:center;">NAMA KEPALA RUMAH TANGGA</th>
                <th rowspan="3" style="vertical-align : middle;text-align:center;">JUMLAH KK</th>
                <th colspan="11"  style="vertical-align : middle;text-align:center;">JUMLAH ANGGOTA KELUARGA</th>
                <th colspan="6"  style="vertical-align : middle;text-align:center;">KRITERIA RUMAH</th>
                <th colspan="3"  style="vertical-align : middle;text-align:center;">SUMBER AIR KELUARGA</th>
                <th colspan="2"  style="vertical-align : middle;text-align:center;">MAKANAN POKOK</th>
                <th colspan="4"  style="vertical-align : middle;text-align:center;">WARGA MENGIKUTI KEGIATAN</th>
                <th rowspan="3" style="vertical-align : middle;text-align:center;">KET</th>   
            </tr>
            <tr>
                <th colspan="2" style="vertical-align : middle;text-align:center;">TOTAL</th>
                <th colspan="2" style="vertical-align : middle;text-align:center;">BALITA</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">PUS</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">WUS</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">IBU HAMIL</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">IBU MENYUSUI</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">LANSIA</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">3 BUTA</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">BERKEBUTUHAN KHUSUS</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">SEHAT LAYAH HUNI</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">TIDAK SEHAT LAYAK HUNI</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">MEMILIKI TEMPAT PEMBUANGAN SAMPAH</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">MEMILIKI SPAL</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">MEMILIKI JAMBAN KELUARGA</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">MENEMPEL STIKER P4K</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">PDAM</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">SUMUR</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">DLL</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">BERAS</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">NON BERAS</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">UP2K</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">PEMANFAATAN TANAH PEKARANGAN</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">INDUSTRI RUMAH TANGGA</th>
                <th rowspan="2" style="vertical-align : middle;text-align:center;">KERJA BAKTI</th>
            </tr>
            <tr>
              <th  style="vertical-align : middle;text-align:center;">L</th>
              <th  style="vertical-align : middle;text-align:center;">P</th>
               <th  style="vertical-align : middle;text-align:center;">L</th>
              <th  style="vertical-align : middle;text-align:center;">P</th>
            </tr>
          </thead>
          
      </table>
		
					
			[data_keluarga]
			
			

	</body>
</html>